<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="chat()">
    <form id="cf" action="/insert" method="post">
    <h1 id="username"><%=username%></h1>
    <h6 id="chats" style="display: none;"><%=row%></h6>
    <h6 id="userId" style="display: none;"><%=userId%></h6>
    <div id="chatdata"></div>
    <input type="text" id="send" placeholder="enter the message">
    </label>
    <input type="button" id="send" name="send" value="send" onclick="sender()">
</form>
    <script>
        function chat()
        { 
            let chat=document.getElementById('chats').textContent;
            let chats=JSON.parse(chat)
            let html=""
            for(let i=0;i<chats.length;i++)
            {
                html+=`<div id='${chats[i].SentBy}'>${chats[i].data}</div>`
            }
            document.getElementById("chatdata").innerHTML=html;
        }
        function sender()
        {
            let insert=document.getElementById("send").value
            let username=document.getElementById('username').textContent;
            let userId=document.getElementById('userId').textContent;
            
            if(insert.trim())
            {
                console.log("helo")
                document.getElementById("cf").action=`/insert/${userId}/${username}/${insert.trim()}`
                document.getElementById("cf").submit();
            }
        }
    </script>
</body>
</html>