<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles3.css">
    <title>Document</title>
</head>
<body onload="load()">
    <form id="view" action="/" method="post">
    <div id="layer1">
        <div id="container1">
            <div id="box1">
                <div id="chatheader">Chats</div>
                <div id="lbreaker"></div>
                <div id="chatcontainer">
                </div>
            </div>    
        </div>
        <div id="ldivider"></div>
        <div id="container2">
            <div id="box2">
                <div id="checkempty">
                    <div id="reload"> 
                    <div id="username"></div>
                    <div id="chatdata"></div>
                    </div>
                    <input type="text" id="send" placeholder="enter the message" value="" style="cursor:pointer;">
                    <input type="button" name="send" value="send" onclick="sender()">
                </div>            
            </div> 
        </div>
    </div>
    <input type="text" id="create" placeholder="Create Chatroom">
        <button type="button" onclick="chatroom()">Create Chatroom</button>
   
        <button type="button" onclick="diary()">Diary</button>
        <button type="button" onclick="todo()">To Do</button>
        <div id="chat"></div>
</form>
</body>

<h6 id="userId" style="display:none"><%=userId %></h6>
<h6 id="giver" style="display:none"><%=giver%></h6>
<h6 id="identifier" style="display:none"><%= identifier %></h6>


<script>
    function todo()
    {
        document.getElementById("view").action = `/todo`;
        document.getElementById("view").submit();
    }
        function diary()
        {
            userId=document.getElementById("userId").textContent
             // sessionStorage.setItem('create','yes')
            document.getElementById("view").action = `/diary/${userId}`;
            document.getElementById("view").submit();
        }
       
    function popdiary(){
        let chatdetails=document.getElementById('box2').innerHTML
        let html=`<label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="Entry">Entry:</label>
            <textarea id="Entry" name="Entry" required></textarea>
            <button type="submit" onclick="save()">Save</button>`

        document.getElementById('box2').innerHTML=html
    }
    function save()
        {
            let userId=document.getElementById("userId").textContent;
            let date = document.getElementById("date").value;
            let title = document.getElementById("title").value; 
            let entry = document.getElementById("Entry").value; 
            document.getElementById("view").method="post";
            document.getElementById("view").action = `/addDiary/${userId}/${date}/${title}/${entry}`;
            document.getElementById("view").submit();
        }
</script>






<script>
 function load() {
    // manage session storage chatters
    let userId=document.getElementById("userId").textContent;
    let iden=document.getElementById("identifier").textContent;
    if(iden=="chatters")
    {
        let chatter=document.getElementById("giver").textContent;
        if(chatter)
        {
            sessionStorage.setItem(`user${userId}chatter`,`${chatter}`)
            chatter=document.getElementById("giver").textContent="";
         }
    }
    if(iden=="chatview")
    {   
        chat()
    }
    if(iden=="diary")
    {
        popdiary()
    }
    let msg=sessionStorage.getItem(`user${userId}msg`);
    document.getElementById("send").value=msg;

    loadchatter();
}
function chat()
{   let userId=document.getElementById("userId").textContent;
    let username=sessionStorage.getItem(`user${userId}username`)
    document.getElementById("username").textContent=username;

    let data=document.getElementById("giver").textContent;
    let chats=JSON.parse(data)
    let html=""
    for(let i=0;i<chats.length;i++)
    {
        html+=`<div id='u${chats[i].SentBy}'>${chats[i].data} </div>`
            
    }
    document.getElementById("chatdata").innerHTML=html;

        }

function chatroom() {
    let username = document.getElementById("create").value;
    let userId = document.getElementById("userId").textContent; 
 
    let myname=sessionStorage.getItem('myname')
    localStorage.setItem(`reload${myname}`,'required')
    localStorage.setItem(`reload${username}`,'required')

    document.getElementById("view").action = `/chatroom/create/${userId}/${username}`;
    document.getElementById("view").submit();
        }   

function loadchatter()
    {   
        userId=document.getElementById("userId").textContent;
        chatter=sessionStorage.getItem(`user${userId}chatter`)
        sp=chatter.split(",")
        let html=""
        for(let i=0;i<sp.length;i++)
        {
            html+=`<div id=user${i+1}>
                <button type="submit" id="userbtn" value="${sp[i]}" onclick="chatview(${i},${userId})">${sp[i]}</button>
                </div>
                <div id="lbreaker"></div>`
        }
        
        document.getElementById("chatcontainer").innerHTML=html;
        
        
    }

function chatview(i,userId){
        sessionStorage.setItem(`user${userId}username`,`${sp[i]}`)
        document.getElementById("view").action = `/chatview/${userId}/${sp[i]}`;
        document.getElementById("view").submit()
    }


function checkmsg()
    {
        let message=document.getElementById("message").textContent;
        document.getElementById("send").value=message;
        let checkempty=document.getElementById("username").textContent
        if(!checkempty)
        {
            document.getElementById("checkempty").style.display="none"
        }
        else{
            chat();
            document.getElementById("send").focus()
        
        }
    }
  
    
function sender()
{
    let insert=document.getElementById("send").value
    let userId=document.getElementById('userId').textContent;
    let username=sessionStorage.getItem(`user${userId}username`)
    if(insert.trim())
    {
        let myname=sessionStorage.getItem('myname')
        localStorage.setItem(`reload${myname}`,'required')
        localStorage.setItem(`reload${username}`,'required')
        document.getElementById("view").action=`/insert/${userId}/${username}/${insert.trim()}`
        document.getElementById("send").value="";
        document.getElementById("view").submit();
            }
            
        }
function reload()
{
    
    let myname=sessionStorage.getItem('myname')
    let reload=localStorage.getItem(`reload${myname}`)
    let username=document.getElementById('username').textContent;
    let userId=document.getElementById('userId').textContent;
    let msg=document.getElementById("send").value
    if(msg)
   {
        sessionStorage.setItem(`user${userId}msg`,`${msg}`)
    }
    else{
        sessionStorage.setItem(`user${userId}msg`,``);
        }
    if(!username) 
    {
        username="null"
    }    
    if(reload=="required")
    {   let currentUrl = window.location.href;
        localStorage.removeItem(`reload${myname}`)
        document.getElementById("view").action=`${currentUrl}`;
        document.getElementById("view").submit()
        
    }
    load()

        }        
// setInterval(reload,2000);
</script>
</html>