<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/chatroom/create" id="lf" method="post">
        <input type="text" id="create">
        <button type="submit" onclick="chatroom()">create chatroom</button>
        <input type="text" id="join">
        <button type="submit" onclick="joinchat()">join chat</button>
        <button type="submit" onclick="commonFunction('diary')">Diary</button>
        <button type="submit" onclick="commonFunction('music')">Music</button>
    </form>
    <script>
        function chatroom() {
            const create = document.getElementById("create").value;
            document.getElementById("lf").action = `/chatroom/${create}`;
        }
        
        function joinchat() {
            const join = document.getElementById("join").value;
            document.getElementById("lf").action = `/chatroom/${join}`;
        }

        function commonFunction(type) {
            document.getElementById("lf").action = `/create_tb/${type}`;
        }
    </script>
</body>
</body>
</html>
