<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form id="lf" method="post">
        <input type="text" id="create" placeholder="Create Chatroom">
        <button type="button" onclick="chatroom()">Create Chatroom</button>
        <h6 id="userI" style="opacity:100"><%= userId %></h6>
        <button type="button" onclick="commonFunction('diary')">Diary</button>
        <!-- <button type="button" onclick="commonFunction('music')">Music</button> -->
        <div id="chat"></div>
    </form>
    
    <script>
        function chatroom() {
            let username = document.getElementById("create").value;
            let userI = document.getElementById("userI").textContent; 
            document.getElementById("lf").action = `/chatroom/create/${userI}/${username}`;
            document.getElementById("lf").submit();
        }

        function commonFunction(type) {
            document.getElementById("lf").action = `/create_tb/${type}`;
            document.getElementById("lf").method = 'get';
            document.getElementById("lf").submit();
        }
    </script>
    
</body>
</body>
</html>
