<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
</head>
<body>
    <div class="container">
        <h1>Diary Entry</h1>
        <form id="diaryForm" method="post">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="data">Entry:</label>
            <textarea id="data" name="data" required></textarea>
            <h6 id="userI" style="opacity:100"><%= userId %></h6>
            <button type="submit" onclick="save()">Save</button>
        </form>
    </div>
    <script>
        function save()
        {
            let userId=document.getElementById("userI").textContent;
            let date = document.getElementById("date").value;
            console.log(date)
            let title = document.getElementById("title").value; 
            let data = document.getElementById("data").value; 
            document.getElementById("diaryForm").action = `/submitDiary/${userId}/${date}/${title}/${data}`;
            document.getElementById("diaryForm").submit();
        }
    </script>
</body>
</html>
