<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal workspace</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="index">
    <div class="container">
        <h1>Personal Workspace</h1>
        <br><br>
        <a href="/register">
            <button class="btn">Register</button>
        </a>
        <a href="/login">
            <button class="btn">Login</button>
        </a>
    </div>
    <div class="welcome-content">
        <p>Welcome to Personal Workspace!
            We offer a to-do list, diary, and chat with your friends.
            Save your diaries and mark your to-do list.</p>
    </div>
</body>
</html>
