<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal workspace</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container" align="left">
        <h1>Personal workspace</h1><br><br>
    <br>
    <a href="/register"> <button class="btn btn-success"> Register </button></a>  <a href="/login"> <button class="btn btn-success"> Login </button></a>
</div>
</body>
</html>
