
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="index">
    <div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" id="input"name="username" placeholder="Username" required><br><br>
        <input type="password" id="input" name="password" placeholder="Password" required><br>
        <button type="submit" class="btn4reglog">Login</button>
    </form>
</div>
</body>
</html>