
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="index">
    <div class="container">
    <h1>Login</h1>
    <form action="/login" method="post" >
        <div id="input">
            <input type="text" id="username" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br>
        </div>
        <button type="submit" class="btn4reglog" onclick="sub()">Login</button>
    </form>
</div>
</body>
<script>
    function sub()
    {
        let username=document.getElementById('username').value
        sessionStorage.setItem('myname',`${username}`)
    }
</script>
</html>