<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body id="index4reg">
    <div class="container4reg">
    <h1>Register</h1>
    <form class="register" action="/register" method="post">
        <div id="input">
            <input type="text" name="username" placeholder="Username" required><br><br>
            <input type="email" name="email" placeholder="Email" required><br><br>
            <input type="password"  name="password" placeholder="Password" required><br>
        </div>
        <button type="submit" class="btn4reglog">Register</button>
    </form>
    </div>
</body>
</html>