#index {
    background-color: #102030; 
    font-family:sans-serif;
    display: flex;
    align-items:center;
    justify-content: center; 
    height: 100vh;
    color: white;
}
#index4reg{
    background-color: #102030; 
    font-family:sans-serif;
    display: flex;
    align-items:center;
    justify-content: center; 
    height: 100vh;
    color: white;
}
.container4reg {
    width: 400px;
    height: 250px; 
    background: linear-gradient(to right, #09203F,#537895); 
    border-radius: 15px;
    text-align: center;
    padding: 20px; 
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFD700; 
    margin: 0 50px;
}
.container {
    width: 400px;
    height: 200px; 
    background: linear-gradient(to right, #09203F,#537895); 
    border-radius: 15px;
    text-align: center;
    padding: 20px; 
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #FFD700; 
    margin: 0 50px;
}
.btn {
    color: white;
    background: linear-gradient(to top right, #FFA500, #FFD700);
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 20px; 
    width: 100px; 
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.btn4reglog{
        width: 55%;
        height: 10%;
        font-size: 16px;
        color: white;
        background: linear-gradient(to top right, #FFA500, #FFD700);
        margin: 10px;
        cursor: pointer;
        padding: 10px 20px; 
        border-radius: 15px;
        transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
    background-color: #203040;
    transform: translateY(-5px);
}
.welcome-content {
    max-width: 400px;
    padding: 10px;
    background: #203040;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-style: italic;
}
#input{
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    font-family:sans-serif;

}
