#layer1{

    height:fit-content; width:99%; background:#000000;display: flex;padding:10px;color:yellow;
}
#container1{
    height:595px; width:30%;display:flex; background:yellow
}

#box1{
    height:580px; width:95%;display:block;margin-block-start:2%;margin-left:2%;
}
#box2{
    height:580px; width:98%;display:block;margin-block-start:1%;margin-left:1%;background-color: #000000;
}
#chatheader{
    padding:10px;background-color:black; color:white;
}

#lbreaker{
    padding:3px;background-color:yellow;
    
}
#ldivider{
    height:595px; width:1%;display:flex; background:#000000;
}

#chatcontainer{
    background-color:black; color:white;
}
#userheader{
    padding-left: 10px;padding-top:3px;font-size:large;
}
#usermsg{
    padding-left: 10px;padding-bottom: 4px;padding-top:2px;
}
#container2{
    height:595px; width:60%;display:block; background:yellow;
}
#CSHeader{
    background-color:black; color:white;
}
#viewdetails{
    /* border: none;
    outline: none;
    cursor: pointer;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #c850c0, #4158d0);
    color: #fff; */
    height: 40px;width:80px
}
#chatscreen{
    height:450px;width:90% ;background-color:grey;margin-inline-start: 50px;
}
#userinput{
    height:50px;width:90%;background-color: black;margin-inline-start: 50px;
}
#textbox{
    /* height: 50%;
    border-radius: 50px;
    resize: none;
    padding: 15px 20px;
    font-size: 16px; */
    height:30px;width:80%;background-color: white;margin-inline-start: 0px;margin-top:9px;
}
#send{
    height:36px;width:18%;background-color:green;margin-inline-start: 0px;margin-top:9px;
}